body
{
  margin: 0px;
  background-color: #8b8787;
}

hr
{
  margin-top: 150px;
  margin-bottom: 150px;
}
.header
{
  height: 30vh;
  width: 100%;
  background-color: rgb(42, 42, 42, .7);
  position: fixed;
  top: 0px;
  z-index: 1000;
}
.header h1
{
    width: 50%;
    margin: 0px;
    left: 5%;
    top: 25%;
    position: relative;
    color: white;
    font-family: 'Raleway';
}
.header ul
{
  float: right;
  width: 40%;
  list-style-type: none;
  margin-top: -30px;
}
.header nav ul li
{
  margin: 10px;
  font-size: 18px;
  font-family: 'Raleway';
}
.header nav ul li a
{
  color: white;
  text-decoration: none;
}
.header li a:hover {
  color: green;
}
.header li
{
padding: 20px 50px 20px 50px;
background-color: black;
width: 10%;
}

.parallax
{
  margin-top: 30vh;
  height: 50vh;
  position: relative;
  background-image: url("../img/healthfoods.jpg");
  background-size:150% auto;
  background-attachment: fixed;
  background-position: top center;
}

.parallax h2
{
  margin: auto;
  padding-top: 50%;
  text-align: center;
  font-family: 'Anton';
  font-size: 50px;
  color: white;
}

.info h2
{
  font-family: 'Raleway';
  font-size: 25px;
  color: black;
  text-align: center;
  padding: 30px;
  background-color: rgb(255, 255, 255, .9);
}
.info img
{
  width:50%;
  align: center;
}

.paragraph
{
  font-family: 'Raleway';
  font-size: 20px;
  color: black;
  text-align: center;
}

.footer
{
    height: 20vh;
    background-color: black;
}
.footer div
{

  width: 100%;
  margin:  auto;
  color: white;

}
.footer li
{
  width: 100%;
  margin:  auto;
  color: white;

}
