
body{
background-color:rgb(35, 235, 221)

}

/* This will grab all the h1 tags */
h1
{
  color: red;
  font-family: 'Raleway';
}

/* this is the class */
.container
{
  margin: auto;
  padding: 20px;
  background-color: #7a7674;
  width: 50%;
  box-shadow: 5px 10px 10px 10px rgb(179, 126, 64);
  border-radius: 20px;

}

.container h1 {
  font-size: 4em;
}

.sidebar{
  float: left;
  margin-left: 60px;
  padding: 20px;
  background-color: #7a7674;
  width: 10%;
  box-shadow: 5px 10px 10px 10px rgb(179, 126, 64);
  border-radius: 20px;

}

.navigation {
display: table;
margin: 0 auto;
margin-top: 30px;
margin-bottom: 80px;

}

.horizontaLine {
padding-top: 20px;

}
.horizontaLine li {
display: inline;
margin: 40px;
padding: 20px 60px 20px 60px;
background-color: white;
width: 10%;
}

.horizontaLine li a {
  color: gray;
  text-decoration: none;
  font-family: sans-serif;
}

.horizontaLine li a:hover {
  color: red;
}

/* This is an id */
#dog {
  background-color: pink;
  with: 400px;
}
